<header>
    <ul class="nav justify-content-center" style="background-color: #e3f2fd;">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Moderator" asp-action="Index" title="">Boards</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Moderator" asp-action="CreateBoard" title="">Create</a>
        </li>
    </ul>
</header>