@model Onnorokom.Forum.Web.Models.Moderator.BoardListModel

<div class="container">

    <div class="row">
        @{
            foreach(var board in Model.Boards)
            {
                <div class="card col-md-3 m-2">
                    <a href="/Home/Topics/@board.Id">
                        <div class="card-body">
                            <h5 class="card-title">@board.BoardName</h5>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>