@using Microsoft.AspNetCore.Identity
@using Onnorokom.Forum.Membership.Entities
@model Onnorokom.Forum.Web.Models.Home.LoadAllTopicsModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = Model.BoardName;
}

<div class="container">
    <h2>@Model.BoardName</h2>
    <hr />
    <div class="row">
        @{
            var userId = UserManager.GetUserId(User);
            foreach(var topic in Model.Topics)
            {
                <div class="card col-md-3 m-2">
                    <a href="/Post/Create/@topic.Id">
                        <div class="card-body">
                            <h5 class="card-title">@topic.TopicName</h5>
                            @{
                                if(userId == topic.CreatorId.ToString())
                                {
                                    <a href="/Topic/EditTopic/@topic.Id" class="card-link">Edit</a>
                                    <a href="/Topic/DeleteTopic/@topic.Id" class="card-link">Delete</a>
                                }
                            }
                        </div>
                    </a>
                </div>
            }
        }
        <div class="card col-md-3 m-2">
            <a href="/Topic/CreateTopic/@Model.Id">
                <div class="card-body">
                    <h5 class="card-title">+ Add New Topic</h5>
                </div>
            </a>
        </div>
    </div>

</div>
