@using Microsoft.AspNetCore.Identity
@using Onnorokom.Forum.Membership.Entities
@model Onnorokom.Forum.Web.Models.Home.LoadUserPosts
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Posts";
}

<div class="container">
    <div class="container">
        <div class="container">
            <br/>
            <div class="page-content">
                @{
                    var userId = UserManager.GetUserId(User);
                    foreach(var post in Model.Posts)
                    {
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@post.CreatorEmail</h5>
                                <p class="card-text">@post.Description</p>
                                <p class="card-text">
                                    <small class="">
                                        <a href="/Home/Comments/@post.Id" class="card-link">Comment</a>
                                        @{
                                            if(userId == post.CreatorId.ToString())
                                            {
                                                <a href="/Post/Edit/@post.Id" class="card-link">Edit</a>
                                                <a href="/Post/Delete/@post.Id" class="card-link">Delete</a>
                                            }
                                        }
                                    </small>
                                </p>
                            </div>
                        </div>
                    }
                }
                @{
                    if(Model.Posts.Count == 0)
                    {
                        <p>The user have no post to show.</p>
                    }
                }
            </div>            
        </div>
    </div>
</div>