@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Reset Password Confirmation";
}

<div class="row h-100">
    <div class="col-lg-5 col-12">
        <div id="auth-left">
            <div>
                <a asp-action="Index" asp-controller="Home" >Home</a>
            </div>
            <p class="auth-subtitle mb-5">
                Your password has been reset. Please <a asp-controller="Account" asp-action="Login">click here to log in</a>.
            </p>
            <div class="text-center mt-5 text-lg fs-4">

            </div>
        </div>
    </div>
    <div class="col-lg-7 d-none d-lg-block">
        <div id="auth-right">
        </div>
    </div>
</div>